[Unit]
Description=Pinspiring Clock Service
After=multi-user.target

[Service]
Type=idle

User=pi
ExecStart=/usr/bin/python3 /home/pi/Pinspiring/code/pinspiring.py

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
